[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sgmodel"]
	path = sgmodel
	url = https://github.com/thomasvigie/sgmodel-v-0.1.1
